Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Bullied_VR/Maps/Level_1_House_BuiltData.uasset
Content/Bullied_VR/Maps/Test_Level_1_BuiltData.uasset
Content/Bullied_VR/Maps/TestLevel_BuiltData.uasset
Content/Bullied_VR/Maps/Level_4_School_BuiltData.uasset
Content/Bullied_VR/Maps/MainMenu_BuiltData.uasset
Content/Bullied_VR/Maps/Level_2_Bus_BuiltData.uasset
Content/Bullied_VR/Maps/Level_5_Bridge_BuiltData.uasset
Content/Bullied_VR/textures/HouseTextures/RawTGA/DONOTUSE/
Content/Bullied_VR/Audio/DONOTUSE/Seyana.uasset
Content/Bullied_VR/Audio/DONOTUSE/YR_DDLC.uasset
Content/Bullied_VR/Maps/MainMenu2_BuiltData.uasset
